# ezkl-gpu==10.2.9
# ls# /home/pw/dzkml/ezkl-exploration/wheels/ezkl-0.0.0-cp37-abi3-manylinux_2_35_x86_64.whl
# wheels/ezkl-0.0.0-cp37-abi3-manylinux_2_35_x86_64.whl
# wheels/gpu/ezkl-0.0.0-cp37-abi3-manylinux_2_35_x86_64.whl
onnxruntime==1.18.0
onnx==1.15.0
hydra-core==1.1.2
numpy<2.0
psutil
pynvml
grpcio
grpcio-tools
pandas
psutils
boto3
pyparsing
# pip install --upgrade grpcio grpcio-tools
#pip install --upgrade protobuf
