defaults:
  - _self_
  - model: lenet_5  # mobilenet, mnist_gan, mnist_classifier, little_transformer, nano_gpt
  # - override hydra/job_logging: disabled
  - override hydra/hydra_logging: disabled

worker_addresses: ["localhost:50053"]  # ["localhost:50052"]
cache_setup_files: False
spot_test: False

hydra:
  run:
    dir: .  # Current directory or a specific directory where Ray Tune expects to find it
  sweep:
    dir: .  # Same as above
  output_subdir: null
  job_logging:
    level: DISABLE  # Disable job-specific logging
  hydra_logging:
    level: DISABLE  # Disable Hydra-specific logging